.listings-page {
    /*background: wheat;*/
}

.new-listing-btn {
    background: #123963;
    width: 250px;
    text-align: center;
    padding: 20px 30px;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 50px;
}
.new-listing-btn:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.listings-page a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.listings-page h3 {
    text-align: left;
    width: 100%;
}

.my-listings-wrapper {
    width: 80%;
    background: #F4EDF9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    padding: 40px 40px;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.my-listings-wrapper .listing-info {
    padding-left: 50px;
}

#my-listings-title {
    width: 80%;
    margin: 50px auto;
    font-weight: 500;
}

.my-listings-wrapper h3 {
    font-weight: 400;
}
.my-listings-wrapper h4 {
    font-weight: 200;
}
.my-listings-wrapper p {
    font-size: 18px
}

.listings-page > div a {
    flex-basis: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}