.marketplace {
    height: 100%;
}
.marketplace-content {
    height: 100%;
    padding: 50px 0;
}

.listings-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    padding: 40px 0;
}

.listings-wrapper a {
    flex-basis: 40%;
    width: min(400px, 100%);
    text-decoration: none;
    color: black;
}