.listing-wrapper {
    border: 1px solid black;
    overflow: hidden;
    background: white;
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    max-height: 150px;
}
.listing-wrapper p {
    margin: 0
}

.listing-image {
    flex-basis: 40%;
    height: auto;
    overflow:hidden;
}

.listing-image img {
    height: 100%;
    width: auto;
    display: block;
}
.listing-info {
    flex-basis: 60%;
    padding: 16px
}

#address {
    margin: 5px 0;
    font-weight: 500;
}

/* CLAIMED section */
.claimed-box {
    background: pink;
    width: 300px;
}
.claiming-user-info {
    background: red;
}
.accept-decline-wrapper {
    background: orange
}

