.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #123963;
}

.nav-content {
    display: flex;
    flex-direction: row;
    margin-right: 2pc;
    margin-top: 0.5pc;
    
}

.nav-buttons {
    color: white;
    padding-right: 4em;
    font-weight: 300;
    font-size: 21px;
    line-height: 34px;
    text-decoration: none;

}

.dolly {
    margin-left: 0.5pc;
    margin-top: 0.4pc;
}