.claims-page {
    /*background: wheat;*/
}


.claims-page h3 {
    text-align: left;
    width: 100%;
}

.claimed-claims-wrapper, .unclaimed-claims-wrapper, .completed-claims-wrapper {
    width: 80%;
    margin: 0 auto;
    background: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    padding: 40px 40px;
    margin: 20px auto;
}

.claims-page > div a {
    flex-basis: 40%;
    width: 100%;
    text-decoration: none;
    color: black;
}